@font-face {
    font-family: 'Gotham-tittle';
    src: url('../assets/fonts/gotham/GothamHTF-Bold.otf');
}
@font-face {
    font-family: 'Gotham-text';
    src: url('../assets/fonts/gotham/GothamHTF-Light.otf');
}
@font-face {
    font-family: Gotham-black;
    src: url('../assets/fonts/gotham/GothamHTF-Black.otf');
}
:root {
    --fiap-color:#ED145B;
    --text-color:#ACC1CC;
}
section{
    height: 894px;
    width: 1920px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
}
*{
    padding: 0;
    margin: 0;
}
