.Header{
    background-image: url('../assets/imgs/Header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    position: fixed;
}