.main {
    background-image: url('src/assets/imgs/break-image.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
    width: 100%;
}
