.sec4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(5, 5, 48) 20%, black);
    color: var(--text-color);
    border: none;
  
}

.opc h1 {
    width: 826px;
    height: auto;
    font-family: Ghotan-tittle;
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    margin-bottom: 2rem;
}

.btn-opc {
    width: 100%;
    width: 1440px;
    border-top: 2px solid var(--text-color);
    padding: 1rem 0;
    transition: all 0.80s ease;
}

.btn-opc p {
    width: 100%;
    max-width: 1440px;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
    transition: opacity 0.3s ease;
}

.btn-abrir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.btn-abrir h3 {
    font-size: 1.5rem;
}

.abrir-btn {
    cursor: pointer;
    background: none;
    border: none;
}

.abrir-btn img {
    width: 24px;
    height: 24px;
    padding: 5px;
    transition: transform 0.3s;
}

.abrir-btn:hover img {
    transform: scale(1.1);
}
